<div>
  <div class="alignement">
  <h4 [ngClass]="router.url === '/home' ? '' : 'px-4 pt-0'"><i class="pi pi-calendar-times pt-4" style="font-size: 1.5rem;"></i> {{ heading }}</h4>
  <button *ngIf="this.router.url === '/home'" pButton pRipple class="p-button-text" type="button" (click)="goToEventPage()">View More</button>
</div>
  <div class="card-alignment pt-2" [ngClass]="router.url === '/home' ? '' : 'p-4'">
    <div *ngFor="let card of specificCardDetails">
      <p-card styleClass="p-2 event-card-continear" header="{{ card.title }}">
        <p-divider></p-divider>
        <div class="wrap"> <p class="pb-2 overflow">{{ card.description }}</p></div>
          <div class="grid-alignment">
          <p class="label">PresentedBy:</p>
          <P>{{ card.presentedBy }}</P>
          <p class="label">Desigination:</p>
          <p>{{ card.designation }}</p>
          <p class="label">Enrolled:</p>
          <p>{{ card.enrolled }}</p>
        </div>
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <div class="footer-alignment">
            <button
              pRipple
              pButton
              type="button"
              label="Enroll"
              class="p-button-text p-0"
              styleClass="p-0"
              (click)="enroll(card.id)"
            ></button>
            <div class="time-align">
              <p class="date-time"><i class="pi pi-calendar-times"  style="font-size: 0.75rem"></i> {{ card.date }}</p>
              <p class="date-time"><i class="pi pi-clock"  style="font-size: 0.75rem"></i> {{ card.time }}</p>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>
    <p-confirmDialog
      header="Confirmation"
      icon="pi pi-exclamation-triangle"
    ></p-confirmDialog>
    <p-toast></p-toast>
  </div>
</div>
