<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-default fixed-top navbar-style">
  <a class="navbar-brand me-2" href="#">
    <img
      src="../../assets/logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt="logo"
      loading="lazy"
    />
    Learning Hub
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/courses">Courses</a>
      </li>
      </ul>
  </div>
</nav>
