<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-default fixed-top navbar-style">
  <a class="navbar-brand me-2 d-flex align-center" href="#">
    <img
      src="../../assets/logo.png"
      width="40"
      height="40"
      class="d-inline-block"
      alt="logo"
      loading="lazy"
    />
    <h3 class="pt-1 pl-2">Learning Hub</h3>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-8">
      <li class="nav-item">
        <a class="nav-link text-size" routerLink="/home"><i class="pi pi-home"></i> Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-size" routerLink="/events"><i class="pi pi-calendar-times"></i> Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-size" routerLink="/courses"><i class='fas fa-apple-alt'></i> Courses</a>
      </li>
      </ul>
  </div>
</nav>
